<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div>
    <a href="http://localhost:8080/homepage?lang=en">English</a>
    <a href="http://localhost:8080/homepage?lang=sv">Svenska</a>
</div>

<table>
    <thead>
    <tr>

<a href="http://localhost:8080/login">Login</a>
<table>
    <thead>
    <tr>


        <th th:text="#{title}"></th>
        <th th:text="#{message.body}"></th>
        <th th:text="#{user}"></th>
        <th th:text="#{date}"></th>
    </tr>
    </thead>
    <tbody th:if="${message.visible == true}" th:each ="message : ${messages}">
    <tr>
        <td th:text="${message?.title}"></td>
        <td th:text="${message?.chatMessage}"></td>
        <td th:text="${message?.user.userName}"></td>
        <td th:text="${message?.date}"></td>
    </tr>
    </tbody>
</table>


</body>
</html>