<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
<div>
    <a href="http://localhost:8080/listmessages?lang=en">English</a>
    <a href="http://localhost:8080/listmessages?lang=sv">Svenska</a>
</div>

<h1>Logged in as</h1>
<h1 th:text="${person.fullName}"></h1>

<table>
    <thead>
    <tr>
        <th th:text="#{title}"></th>
        <th th:text="#{message.body}"></th>
        <th th:text="#{author}"></th>
        <th th:text="#{date}"></th>
    </tr>
    </thead>
    <tbody th:each ="message : ${messagePage.content}">
    <tr>
        <td th:text="${message?.title}"></td>
        <td th:text="${message?.chatMessage}"></td>
        <td th:text="${message?.user.userName}"></td>
        <td th:text="${message?.date}"></td>
    </tr>
    </tbody>
</table>


<div th:if="${messagePage.totalPages > 0}" class="pagination"
     th:each="pageNumber : ${pageNumbers}">
    <a th:href="@{/listmessages(size=${messagePage.size}, page=${pageNumber})}"
       th:text="${pageNumber}"
       th:class="${pageNumber == messagePage.number + 1} ? 'active'"></a>
</div>

<a th:href="@{createNewMessage}" th:text="#{create.new.message}"></a>
<a th:href="@{yourMessages}" th:text="#{edit.your.message}"></a>
</body>
</html>