<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
<div>
    <a href="http://localhost:8080/listmessages?lang=en">English</a>
    <a href="http://localhost:8080/listmessages?lang=sv">Svenska</a>
</div>

<h1 th:text="#{logged.in.as}"></h1>
<h1 th:text="${person.fullName}"></h1>
<!--<a th:href="@{/userSettings}"></a>-->
<a href="#" th:href="@{/userSettings}" th:text="profile"></a>
<a th:href="@{http://localhost:8080/logout}">Logout</a>

<table>
    <thead>
    <tr>
        <th th:text="#{title}"></th>
        <th th:text="#{message.body}"></th>
        <th th:text="#{user}"></th>
        <th th:text="#{date}"></th>
        <th th:text="#{lastModifiedDate}"></th>
    </tr>
    </thead>
    <tbody th:each ="message : ${messagePage.content}">
    <tr>
        <td th:text="${message?.title}"></td>
        <td th:text="${message?.chatMessage}"></td>
        <td th:text="${message?.user.userName}"></td>
        <td th:text="${#dates.format(message?.createdDate, 'yyyy-MM-dd HH:mm')}"></td>
        <td th:if="${message.lastModifiedDate != null}" th:text="${#dates.format(message?.lastModifiedDate, 'yyyy-MM-dd HH:mm')}" ></td>
        <td th:unless="${message.lastModifiedDate != null}"></td> <!-- Empty cell if lastModifiedDate is null -->
    </tr>
    </tbody>

</table>


<div th:if="${messagePage.totalPages > 0}" class="pagination"
     th:each="pageNumber : ${pageNumbers}">
    <a th:href="@{/listmessages(size=${messagePage.size}, page=${pageNumber})}"
       th:text="${pageNumber}"
       th:class="${pageNumber == messagePage.number + 1} ? 'active'"></a>
</div>

<a th:href="@{createNewMessage}" th:text="#{create.new.message}"></a>
<a th:href="@{'/yourMessages/' + ${person.id}}" th:text="#{edit.your.message}"></a>
</body>
</html>