<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table, th, td {
            border: 1px solid black;
        }
        img.user-image {
            width: 20px; /* Set the width of the image */
            height: 20px; /* Set the height of the image */
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<body>
<div>
    <a href="http://localhost:8080/listmessages?lang=en">English</a>
    <a href="http://localhost:8080/listmessages?lang=sv">Svenska</a>
</div>

<h1 th:text="#{logged.in.as}"></h1>
<h1 th:text="${person.fullName}"></h1>
<!--<a th:href="@{/userSettings}"></a>-->

<a href="#" th:href="@{/userSettings}" th:text="#{profile}"></a>
<a th:href="@{http://localhost:8080/logout}" th:text="#{logout}"></a>


<table>
    <thead>
    <tr>
        <th th:text="#{user}"></th>
        <th th:text="#{title}"></th>
        <th th:text="#{message.body}"></th>
        <th th:text="#{date}"></th>
        <th th:text="#{lastModifiedDate}"></th>
    </tr>

    </thead>
    <!-- Add the Base64-encoded image data as a model attribute -->
    <!-- Add the Base64-encoded image data as a model attribute -->

    <tbody th:each="message : ${messagePage.content}">
    <tr>
        <td>
            <img class="user-image" th:src="'data:image/png;base64,' + ${message.user.imageBase64}" alt="User Image"/>
            <span th:text="${message?.user.userName}"></span>
           </td>
        <td th:text="${message?.title}"></td>

        <td th:id="'messagebody_' + ${message.id}" th:text="${message?.chatMessage}">Message Body</td>
        <td th:text="${message?.user.userName}"></td>
        <td th:text="${#dates.format(message?.createdDate, 'yyyy-MM-dd HH:mm')}"></td>
        <td th:if="${message.lastModifiedDate != null}" th:text="${#dates.format(message?.lastModifiedDate, 'yyyy-MM-dd HH:mm')}" ></td>
        <td th:unless="${message.lastModifiedDate != null}"></td> <!-- Empty cell if lastModifiedDate is null -->

        <td><button class="submit-button" th:attr="data-message-id=${message.id}">Submit</button></td>



    </tr>

    </tbody>


</table>

<script>
    $(document).ready(function () {
        $('.submit-button').click(function () {
            var messageId = $(this).data('message-id');
            callMyFunction(messageId);
        });
    });


    function callMyFunction(param1) {
        var messageBodyId = "#messagebody_" + param1;
        $.ajax({
            type: "GET",
            url: "/translate/" + param1,
            success: function (response) {
                // $('#response').html(response);
                $(messageBodyId).text(response);
            }
        });
    }
</script>



<div th:if="${messagePage.totalPages > 0}" class="pagination"
     th:each="pageNumber : ${pageNumbers}">
    <a th:href="@{/listmessages(size=${messagePage.size}, page=${pageNumber})}"
       th:text="${pageNumber}"
       th:class="${pageNumber == messagePage.number + 1} ? 'active'"></a>
</div>

<a th:href="@{createNewMessage}" th:text="#{create.new.message}"></a>
<a th:href="@{/yourMessages}" th:text="#{edit.your.message}"></a>
</body>
</html>