<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
<h1>Posts for user: </h1>
<table>
    <thead>
    <tr>
        <th>Title</th>
        <th>Message Body</th>
        <th>Author</th>
        <th>Date</th>
        <th>Edit</th>
    </tr>
    </thead>
    <tbody th:each ="message : ${messages}">
    <tr th:if="${message?.user.id eq userId}">

        <td th:text="${message?.title}"></td>
        <td th:text="${message?.chatMessage}"></td>
        <td th:text="${message?.user.userName}"></td>
        <td th:text="${message?.date}"></td>
        <td>
            <a th:href="@{/editMessage/{id}(id=${message.id})}">Edit</a>
        </td>

    </tr>
    </tbody>
</table>
</body>
</html>