<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body>
<div>
    <a href="http://localhost:8080/yourMessages?lang=en">English</a>
    <a href="http://localhost:8080/yourMessages?lang=sv">Svenska</a>
</div>
<h1 th:text="#{posts.for.user}"></h1>
<!-- show who the user is -->
<!--<h1 th:text="${person.fullName}"></h1>-->
<table>
    <thead>
    <tr>
        <th th:text="#{title}"></th>
        <th th:text="#{message.body}"></th>
        <th th:text="#{user}"></th>
        <th th:text="#{date}"></th>
        <th th:text="#{lastModifiedDate}"></th>
        <th th:text="#{edit}"></th>
    </tr>
    </thead>
    <tbody th:each ="message : ${messages}">
    <tr th:if="${message?.user.id eq userId}">

        <td th:text="${message?.title}"></td>
        <td th:text="${message?.chatMessage}"></td>
        <td th:text="${message?.user.userName}"></td>
        <td th:text="${#dates.format(message?.createdDate, 'yyyy-MM-dd HH:mm')}"></td>
        <td th:text="${message?.user.userName + ', ' + #dates.format(message?.lastModifiedDate, 'yyyy-MM-dd HH:mm')}"></td>

        <td><a th:href="@{/editMessage/{id}(id=${message.id})}" th:text="#{edit}"></a></td>

    </tr>
    </tbody>
</table>
</body>
</html>